/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.container-fluid {
    display: flex;
    gap: 190px;
    height: 100px;
    position: fixed;
    top: 0px;
    background-color: white;

    .logo {
        margin-left: 20px;

        img {
            width: 170px;
        }
    }
    a {
        text-transform: capitalize;
        font-size: 20px;
        font-weight: bold;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}

.book {
    margin-right: 20px;
    background-color: rgb(51, 150, 51);
    padding: 5px;
    border-radius: 10px;
    a {
        color: white;
        text-decoration: none;
        padding: 8px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
}
.web {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: 'Times New Roman', serif;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: black;
    background: url(https://img.freepik.com/free-photo/luxurious-villa-with-modern-architectural-design_23-2151694024.jpg?ga=GA1.1.1409295138.1747290520&semt=ais_hybrid&w=740) no-repeat center / cover;
}

.image-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
}

.content,
.content2,
.content3,
.content4,
.content5 {
    display: flex;
    gap: 80px;
    box-shadow: 0px 5px 10px gray;
    margin: 20px auto;
    width: fit-content;
    padding: 20px;
}

.left,
.right,
.left2,
.right2,
.left3,
.right3,
.left4,
.right4,
.left5,
.right5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left h1,
.left2 h1,
.left3 h1,
.left4 h1,
.left5 h1 {
    font-size: 40px;
    color: #133;
    margin-bottom: 10px;
}

.left p,
.left2 p,
.left3 p,
.left4 p,
.left5 p {
    font-size: 18px;
    max-width: 600px;
    text-align: justify;
    text-shadow: 0 0 5px gray;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.right img,
.right2 img,
.right3 img,
.right4 img,
.right5 img {
    height: 400px;
    width: 600px;
    border-radius: 10px;
    object-fit: cover;
    font-family: 'Times New Roman', Times, serif;
}

.right2 {
    width: 600px;
    p {
        font-size: 20px;
        /* width: 600px; */
        /* padding-left: 100px; */
        text-align: justify;
        text-shadow: 0px 0px 5px gray;
        font-family: 'Times New Roman', Times, serif;
    }
}

.right4 {
    width: 700px;
    p {
        font-size: 20px;
        /* width: 600px; */
        /* padding-left: 100px; */
        text-align: justify;
        text-shadow: 0px 0px 5px gray;
        font-family: 'Times New Roman', Times, serif;
    }
}

button {
    font-size: 18px;
    background-color: #85d436;
    color: bisque;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    width: 200px;
}

.fotter {
    padding: 40px;
    background-color: lightgreen;
    color: black;
    text-align: center;
}

.contact-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 1.2rem;
}

.details .h5 {
    font-weight: bold;
    margin-bottom: 5px;
}

.details a {
    color: darkblue;
    text-decoration: none;
}

.details a:hover {
    color: rgb(236, 17, 17);
    background: white;
    transform: translateY(-3px);
}